In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
# Importing Dataset

In [17]:
df = pd.read_csv('/content/drive/MyDrive/DS Data Sets/Logistic Regression/bank-full.csv',sep=';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [22]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [24]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [25]:
#EDA

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [56]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [58]:
df[df.duplicated()].shape

(12, 21)

In [59]:
df.corr()

<ipython-input-59-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
age,1.000000,-0.000866,0.004594,-0.034369,0.024365,-0.000371,0.000857,0.129372,0.010767,-0.017725
duration,-0.000866,1.000000,-0.071699,-0.047577,0.020640,-0.027968,0.005312,-0.008173,-0.032897,-0.044703
campaign,0.004594,-0.071699,1.000000,0.052584,-0.079141,0.150754,0.127836,-0.013733,0.135133,0.144095
pdays,-0.034369,-0.047577,0.052584,1.000000,-0.587514,0.271004,0.078889,-0.091342,0.296899,0.372605
previous,0.024365,0.020640,-0.079141,-0.587514,1.000000,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333
emp.var.rate,-0.000371,-0.027968,0.150754,0.271004,-0.420489,1.000000,0.775334,0.196041,0.972245,0.906970
cons.price.idx,0.000857,0.005312,0.127836,0.078889,-0.203130,0.775334,1.000000,0.058986,0.688230,0.522034
cons.conf.idx,0.129372,-0.008173,-0.013733,-0.091342,-0.050936,0.196041,0.058986,1.000000,0.277686,0.100513
euribor3m,0.010767,-0.032897,0.135133,0.296899,-0.454494,0.972245,0.688230,0.277686,1.000000,0.945154
nr.employed,-0.017725,-0.044703,0.144095,0.372605,-0.501333,0.906970,0.522034,0.100513,0.945154,1.000000

In [30]:
df1=pd.get_dummies(df,columns=['job','marital','education','contact','poutcome'])
df1

,age,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,...,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,contact_cellular,contact_telephone,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,no,no,no,may,mon,261,1,999,0,...,0,0,0,0,0,0,1,0,1,0
1,57,unknown,no,no,may,mon,149,1,999,0,...,1,0,0,0,0,0,1,0,1,0
2,37,no,yes,no,may,mon,226,1,999,0,...,1,0,0,0,0,0,1,0,1,0
3,40,no,no,no,may,mon,151,1,999,0,...,0,0,0,0,0,0,1,0,1,0
4,56,no,no,yes,may,mon,307,1,999,0,...,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,no,yes,no,nov,fri,334,1,999,0,...,0,0,1,0,0,1,0,0,1,0
41184,46,no,no,no,nov,fri,383,1,999,0,...,0,0,1,0,0,1,0,0,1,0
41185,56,no,yes,no,nov,fri,189,2,999,0,...,0,0,0,1,0,1,0,0,1,0
41186,44,no,no,no,nov,fri,442,1,999,0,...,0,0,1,0,0,1,0,0,1,0
41187,74,no,yes,no,nov,fri,239,3,999,1,...,0,0,1,0,0,1,0,1,0,0

In [31]:
pd.set_option("display.max.columns",None)
df1

,age,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,marital_unknown,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,contact_cellular,contact_telephone,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,no,no,no,may,mon,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
1,57,unknown,no,no,may,mon,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
2,37,no,yes,no,may,mon,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,40,no,no,no,may,mon,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
4,56,no,no,yes,may,mon,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,no,yes,no,nov,fri,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,yes,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41184,46,no,no,no,nov,fri,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41185,56,no,yes,no,nov,fri,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,no,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
41186,44,no,no,no,nov,fri,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,yes,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41187,74,no,yes,no,nov,fri,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,no,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 45 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   default                        41188 non-null  object
 2   housing                        41188 non-null  object
 3   loan                           41188 non-null  object
 4   month                          41188 non-null  object
 5   day_of_week                    41188 non-null  object
 6   duration                       41188 non-null  int64
 7   campaign                       41188 non-null  int64
 8   pdays                          41188 non-null  int64
 9   previous                       41188 non-null  int64
 10  emp.var.rate                   41188 non-null  float64
 11  cons.price.idx                 41188 non-null  float64
 12  cons.conf.idx                  41188 non-null  float64
 13  euribor3m                      41188 non-null  float64
 14  nr.employed                    41188 non-null  float64
 15  y                              41188 non-null  object
 16  job_admin.                     41188 non-null  uint8
 17  job_blue-collar                41188 non-null  uint8
 18  job_entrepreneur               41188 non-null  uint8
 19  job_housemaid                  41188 non-null  uint8
 20  job_management                 41188 non-null  uint8
 21  job_retired                    41188 non-null  uint8
 22  job_self-employed              41188 non-null  uint8
 23  job_services                   41188 non-null  uint8
 24  job_student                    41188 non-null  uint8
 25  job_technician                 41188 non-null  uint8
 26  job_unemployed                 41188 non-null  uint8
 27  job_unknown                    41188 non-null  uint8
 28  marital_divorced               41188 non-null  uint8
 29  marital_married                41188 non-null  uint8
 30  marital_single                 41188 non-null  uint8
 31  marital_unknown                41188 non-null  uint8
 32  education_basic.4y             41188 non-null  uint8
 33  education_basic.6y             41188 non-null  uint8
 34  education_basic.9y             41188 non-null  uint8
 35  education_high.school          41188 non-null  uint8
 36  education_illiterate           41188 non-null  uint8
 37  education_professional.course  41188 non-null  uint8
 38  education_university.degree    41188 non-null  uint8
 39  education_unknown              41188 non-null  uint8
 40  contact_cellular               41188 non-null  uint8
 41  contact_telephone              41188 non-null  uint8
 42  poutcome_failure               41188 non-null  uint8
 43  poutcome_nonexistent           41188 non-null  uint8
 44  poutcome_success               41188 non-null  uint8
dtypes: float64(5), int64(5), object(6), uint8(29)
memory usage: 6.2+ MB

In [35]:
df1.dtypes

age                                int64
default                            int64
housing                            int64
loan                              object
month                             object
day_of_week                       object
duration                           int64
campaign                           int64
pdays                              int64
previous                           int64
emp.var.rate                     float64
cons.price.idx                   float64
cons.conf.idx                    float64
euribor3m                        float64
nr.employed                      float64
y                                 object
job_admin.                         uint8
job_blue-collar                    uint8
job_entrepreneur                   uint8
job_housemaid                      uint8
job_management                     uint8
job_retired                        uint8
job_self-employed                  uint8
job_services                       uint8
job_student                        uint8
job_technician                     uint8
job_unemployed                     uint8
job_unknown                        uint8
marital_divorced                   uint8
marital_married                    uint8
marital_single                     uint8
marital_unknown                    uint8
education_basic.4y                 uint8
education_basic.6y                 uint8
education_basic.9y                 uint8
education_high.school              uint8
education_illiterate               uint8
education_professional.course      uint8
education_university.degree        uint8
education_unknown                  uint8
contact_cellular                   uint8
contact_telephone                  uint8
poutcome_failure                   uint8
poutcome_nonexistent               uint8
poutcome_success                   uint8
dtype: object

In [36]:
df1['default'] = df1['default'].astype(str)
df1['housing'] = df1['housing'].astype(str)
df1['loan'] = df1['loan'].astype(str)
df1['y'] = df1['y'].astype(str)

In [37]:
# Custom Binary Encoding
df1['default'] = np.where(df1['default'].str.contains("yes"),1,0)
df1['housing'] = np.where(df1['housing'].str.contains("yes"),1,0)
df1['loan'] = np.where(df1['loan'].str.contains("yes"),1,0)
df1['y'] = np.where(df1['y'].str.contains("yes"),1,0)
df1

,age,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,marital_unknown,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,contact_cellular,contact_telephone,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,0,0,0,may,mon,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
1,57,0,0,0,may,mon,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
2,37,0,0,0,may,mon,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,40,0,0,0,may,mon,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
4,56,0,0,1,may,mon,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,0,0,0,nov,fri,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41184,46,0,0,0,nov,fri,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41185,56,0,0,0,nov,fri,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
41186,44,0,0,0,nov,fri,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41187,74,0,0,0,nov,fri,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0

In [38]:
df1['month'].value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [40]:
order={'month':{'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}}

In [43]:
df1=df1.replace(order)

In [45]:
df1

,age,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,marital_unknown,education_basic.4y,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,contact_cellular,contact_telephone,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,0,0,0,5,mon,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
1,57,0,0,0,5,mon,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
2,37,0,0,0,5,mon,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,40,0,0,0,5,mon,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
4,56,0,0,1,5,mon,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,0,0,0,11,fri,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41184,46,0,0,0,11,fri,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41185,56,0,0,0,11,fri,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
41186,44,0,0,0,11,fri,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
41187,74,0,0,0,11,fri,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 45 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   default                        41188 non-null  int64
 2   housing                        41188 non-null  int64
 3   loan                           41188 non-null  int64
 4   month                          41188 non-null  int64
 5   day_of_week                    41188 non-null  object
 6   duration                       41188 non-null  int64
 7   campaign                       41188 non-null  int64
 8   pdays                          41188 non-null  int64
 9   previous                       41188 non-null  int64
 10  emp.var.rate                   41188 non-null  float64
 11  cons.price.idx                 41188 non-null  float64
 12  cons.conf.idx                  41188 non-null  float64
 13  euribor3m                      41188 non-null  float64
 14  nr.employed                    41188 non-null  float64
 15  y                              41188 non-null  int64
 16  job_admin.                     41188 non-null  uint8
 17  job_blue-collar                41188 non-null  uint8
 18  job_entrepreneur               41188 non-null  uint8
 19  job_housemaid                  41188 non-null  uint8
 20  job_management                 41188 non-null  uint8
 21  job_retired                    41188 non-null  uint8
 22  job_self-employed              41188 non-null  uint8
 23  job_services                   41188 non-null  uint8
 24  job_student                    41188 non-null  uint8
 25  job_technician                 41188 non-null  uint8
 26  job_unemployed                 41188 non-null  uint8
 27  job_unknown                    41188 non-null  uint8
 28  marital_divorced               41188 non-null  uint8
 29  marital_married                41188 non-null  uint8
 30  marital_single                 41188 non-null  uint8
 31  marital_unknown                41188 non-null  uint8
 32  education_basic.4y             41188 non-null  uint8
 33  education_basic.6y             41188 non-null  uint8
 34  education_basic.9y             41188 non-null  uint8
 35  education_high.school          41188 non-null  uint8
 36  education_illiterate           41188 non-null  uint8
 37  education_professional.course  41188 non-null  uint8
 38  education_university.degree    41188 non-null  uint8
 39  education_unknown              41188 non-null  uint8
 40  contact_cellular               41188 non-null  uint8
 41  contact_telephone              41188 non-null  uint8
 42  poutcome_failure               41188 non-null  uint8
 43  poutcome_nonexistent           41188 non-null  uint8
 44  poutcome_success               41188 non-null  uint8
dtypes: float64(5), int64(10), object(1), uint8(29)
memory usage: 6.2+ MB

In [48]:
# Dividing data into input and output variables
x=pd.concat([df1.iloc[:,0:11],df1.iloc[:,12:]],axis=1)
y=df1.iloc[:,11]

In [50]:
# Print first five rows of y
print(y.head())

0    93.994
1    93.994
2    93.994
3    93.994
4    93.994
Name: cons.price.idx, dtype: float64

In [63]:
# Logistic Regression Model
classifier=LogisticRegression()

In [ ]:
# predict for x dataset
y_pred = classifier.predict()